

.todos__wrapper{
    /* background-color: rgba(255, 0, 0, 0.199); */
    width: 100%;
    background-color:#252525;
}

.todos__second-wrapper{
    margin: 3vw 5vw;
    height: 100%;
}

.todo__item-wrapper{
    height: 45%;
   overflow:hidden;
}

.todo__item-wrapper::-webkit-scrollbar{
    width: .5rem;
}
.todo__item-wrapper::-webkit-scrollbar-track{
    background-color: transparent;
}
.todo__item-wrapper::-webkit-scrollbar-thumb{
    background-color:   #d7dcdd;
    border-radius: 100vw;
}

.todo__item-wrapper:hover{
    overflow-y: scroll;
}

.todos__form{
    background:  #00A82D;
    border-radius: 50px ;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    color: white;
}

.todos__form:hover{
    background:  #019127;
}

.todos__input{
    background-color: transparent;
    padding: 1.5rem .5rem;
    width: 95%;
    margin: 0 auto;
    color: white;
}

.todos__input::placeholder{
    letter-spacing: .1rem
}

.todos__input:focus::placeholder{
    color:#eff2f388;
}

.todos__input::placeholder{
    color: white;
}